footer {
  background-color: $dark-blue;
  padding: 30px 0;
  @include breakpoint-up(small) {
    padding: 50px 0;
  }
  & .container {
    flex-direction: column;
    gap: 30px;
    @include breakpoint-up(small) {
      flex-direction: row;
      justify-content: flex-start;
    }
    @include breakpoint-up(medium) {
      gap: 40px;
    }
    & .left {
      flex-direction: column;
      @include breakpoint-up(small) {
        flex-direction: row;
        gap: 40px;
      }
      @include breakpoint-up(medium) {
        gap: 80px;
      }
      @include breakpoint-up(large) {
        gap: 130px;
      }
      gap: 30px;
      & .socials {
        gap: 30px;
        & ul {
          gap: 17px;
          & li {
            cursor: pointer;
            & svg {
              & path {
                transition: 0.2s;
              }
              &:hover path {
                fill: $lime-green;
              }
            }
          }
        }
      }
      & .links {
        flex-direction: column;
        gap: 10px;
        @include breakpoint-up(small) {
          flex-direction: row;
          gap: 40px;
        }
        @include breakpoint-up(medium) {
          gap: 80px;
        }
        @include breakpoint-up(large) {
          gap: 120px;
        }
        & .left-links,
        .right-links {
          gap: 10px;
          @include breakpoint-up(small) {
            align-items: flex-start;
            gap: 15px;
          }
          @include breakpoint-up(medium) {
            gap: 20px;
          }
        }

        & a {
          color: $white;
          text-decoration: none;
          transition: 0.2s;
          &:hover {
            color: $lime-green;
          }
        }
      }
    }
    & .credits {
      align-items: center;
      gap: 30px;
      @include breakpoint-up(small) {
        align-items: flex-end;
      }
      & p {
        color: $grayish-blue;
        margin: 0;
        font-size: 15px;
      }
    }
  }
}
