.hero {
  & .container {
    flex-direction: column;
    @include breakpoint-up(small) {
      flex-direction: row;
    }
    .text {
      text-align: center;
      margin: 40px 0 60px;
      @include breakpoint-up(small) {
        flex-basis: 40%;
        order: unset;
        text-align: left;
      }
      @include breakpoint-up(medium) {
        margin: 55px 0 75px;
      }
      @include breakpoint-up(large) {
        margin: 155px 0 175px;
      }
      & h1 {
        font-size: 40px;
        color: $dark-blue;
        font-weight: 300;
        margin: 0;
        @include breakpoint-up(large) {
          font-size: 50px;
        }
      }
      & p {
        color: $grayish-blue;
        font-size: 14px;
        line-height: 1.6;
        margin: 20px 0 30px;
        @include breakpoint-up(large) {
          font-size: 16px;
        }
      }
    }
    .image {
      position: relative;
      order: -1;
      // use ps, get the standard height
      height: 323px;
      width: 100%;
      @include breakpoint-up(small) {
        flex-basis: 60%;
        order: unset;
      }
      &::before {
        // content: "";
        // position: absolute;
        // height: 100%;
        // width: 100%;
        // background-image: url("../images/image-mockups.png");
        // background-repeat: no-repeat;
        // z-index: -1;
        // top: 0;
        // left: 0;

        content: "";
        position: absolute;
        height: 110%;
        width: 102%;
        background-image: url("../images/image-mockups.png");
        background-repeat: no-repeat;
        z-index: -1;
        top: 0%;
        left: 0;
        background-size: 104%;
        background-position: 40% 117%;

        @include breakpoint-up(large) {
          //   height: 110%;
          //   width: 110%;
          //   background-position: -6% 35%;
          //   background-size: 100%;
          //   top: -120%;
          //   left: 0;

          height: 312%;
          width: 110%;
          background-position: 323% -51%;
          background-size: 93%;
          top: -45%;
          left: 2%;
        }
      }
      &::after {
        // content: "";
        // position: absolute;
        // background-image: url("../images/bg-intro-mobile.svg");
        // height: 100%;
        // width: 100%;
        // background-repeat: no-repeat;
        // z-index: -2;
        // background-position: center;

        content: "";
        position: absolute;
        background-image: url("../images/bg-intro-mobile.svg");
        height: 100%;
        width: 114%;
        background-repeat: no-repeat;
        z-index: -2;
        background-position: center;
        left: -7%;
        top: 0%;
        background-size: 100%;

        @include breakpoint-up(large) {
          background-image: url("../images/bg-intro-desktop.svg");
          height: 283%;
          width: 113%;
          background-position: -6% 35%;
          top: -120%;
          left: 0;
          background-size: 143% 102%;
        }
      }
    }
  }
}
