nav {
  padding: 24px 0;
  // background-color: $white;
  background-color: $very-light-gray;
  position: relative;
  @include breakpoint-up(large) {
  }
  & .container {
    & .outlay {
      @include breakpoint-down(small) {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(to bottom, $dark-blue, transparent);
      }
    }
    & ul.mobile-links {
      position: absolute;
      top: calc(100% + 24px);
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      background-color: $white;
      width: 90%;
      border-radius: 7px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      padding: 20px;
      color: $dark-blue;
      & li {
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    & ul.desktop-links {
      @include breakpoint-up(small) {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
      }
      @include breakpoint-up(large) {
        gap: 30px;
      }
      & li {
        color: $grayish-blue;
        position: relative;
        transition: 0.3s;
        cursor: pointer;
        @include breakpoint-up(small) {
          font-size: 14px;
        }
        @include breakpoint-up(medium) {
          font-size: 16px;
        }
        &:hover {
          color: $dark-blue;
        }
        &::after {
          content: "";
          position: absolute;
          left: 0;
          height: 4px;
          width: 100%;
          background-image: linear-gradient(
            to right,
            $lime-green,
            $bright-cyan
          );
          opacity: 0;
          transition: 0.3s;
          @include breakpoint-up(small) {
            top: calc(100% + 25px);
          }
          @include breakpoint-up(medium) {
            top: calc(100% + 28px);
          }
        }
        &:hover::after {
          opacity: 1;
        }
      }
    }
    & .ham-icon {
      cursor: pointer;
    }
  }
}
